@font-face {
  font-family: 'nick';
  src:  url('fonts/nick.eot?w2br3l');
  src:  url('fonts/nick.eot?w2br3l#iefix') format('embedded-opentype'),
    url('fonts/nick.ttf?w2br3l') format('truetype'),
    url('fonts/nick.woff?w2br3l') format('woff'),
    url('fonts/nick.svg?w2br3l#nick') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="n-icon-"], [class*=" n-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nick' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.n-icon-box:before {
  content: "\e900";
}
.n-icon-write:before {
  content: "\e901";
}
.n-icon-clock:before {
  content: "\e902";
}
.n-icon-reply:before {
  content: "\e903";
}
.n-icon-reply-all:before {
  content: "\e904";
}
.n-icon-forward:before {
  content: "\e905";
}
.n-icon-flag:before {
  content: "\e906";
}
.n-icon-search:before {
  content: "\e907";
}
.n-icon-trash:before {
  content: "\e908";
}
.n-icon-envelope:before {
  content: "\e909";
}
.n-icon-bubble:before {
  content: "\e90a";
}
.n-icon-bubbles:before {
  content: "\e90b";
}
.n-icon-user:before {
  content: "\e90c";
}
.n-icon-users:before {
  content: "\e90d";
}
.n-icon-cloud:before {
  content: "\e90e";
}
.n-icon-download:before {
  content: "\e90f";
}
.n-icon-upload:before {
  content: "\e910";
}
.n-icon-rain:before {
  content: "\e911";
}
.n-icon-sun:before {
  content: "\e912";
}
.n-icon-moon:before {
  content: "\e913";
}
.n-icon-bell:before {
  content: "\e914";
}
.n-icon-folder:before {
  content: "\e915";
}
.n-icon-pin:before {
  content: "\e916";
}
.n-icon-sound:before {
  content: "\e917";
}
.n-icon-microphone:before {
  content: "\e918";
}
.n-icon-camera:before {
  content: "\e919";
}
.n-icon-image:before {
  content: "\e91a";
}
.n-icon-cog:before {
  content: "\e91b";
}
.n-icon-calendar:before {
  content: "\e91c";
}
.n-icon-book:before {
  content: "\e91d";
}
.n-icon-map-marker:before {
  content: "\e91e";
}
.n-icon-store:before {
  content: "\e91f";
}
.n-icon-support:before {
  content: "\e920";
}
.n-icon-tag:before {
  content: "\e921";
}
.n-icon-heart:before {
  content: "\e922";
}
.n-icon-video-camera:before {
  content: "\e923";
}
.n-icon-trophy:before {
  content: "\e924";
}
.n-icon-cart:before {
  content: "\e925";
}
.n-icon-eye:before {
  content: "\e926";
}
.n-icon-cancel:before {
  content: "\e927";
}
.n-icon-chart:before {
  content: "\e928";
}
.n-icon-target:before {
  content: "\e929";
}
.n-icon-printer:before {
  content: "\e92a";
}
.n-icon-location:before {
  content: "\e92b";
}
.n-icon-bookmark:before {
  content: "\e92c";
}
.n-icon-monitor:before {
  content: "\e92d";
}
.n-icon-cross:before {
  content: "\e92e";
}
.n-icon-plus:before {
  content: "\e92f";
}
.n-icon-left:before {
  content: "\e930";
}
.n-icon-up:before {
  content: "\e931";
}
.n-icon-browser:before {
  content: "\e932";
}
.n-icon-windows:before {
  content: "\e933";
}
.n-icon-switch:before {
  content: "\e934";
}
.n-icon-dashboard:before {
  content: "\e935";
}
.n-icon-play:before {
  content: "\e936";
}
.n-icon-fast-forward:before {
  content: "\e937";
}
.n-icon-next:before {
  content: "\e938";
}
.n-icon-refresh:before {
  content: "\e939";
}
.n-icon-film:before {
  content: "\e93a";
}
.n-icon-home:before {
  content: "\e93b";
}
